<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.dao.DealDao">
    <select id="insertNewDeal" parameterType="com.entity.Deal">
        insert into deal_stream(date,seller,buyer,name,count,price) values(#{date},#{seller},#{buyer},#{name},#{count},#{price})
    </select>
    <select id="getDealStream" resultType="com.entity.Deal">
        select * from deal_stream order by id desc
    </select>
    <select id="search" resultType="com.entity.Deal">
        select * from deal_stream where ${condition} order by id desc
    </select>
</mapper>